/* Headers */
.nav-bar {
    background-color: #141424;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #141424;
    display: flex;
}
.nav-bar a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-bar a:hover {
    background-color: #141424;
}
/* Body of pages */
body {
    background-color: #141424;
    color: #C9C9D4;
}
a {
    color: #5A5ACC;
    text-decoration: none;
}

/* Footers */
footer {
    text-align: center;
    padding: 10px;
    background-color: #141424;
    border-top: 1px solid #141424;
    margin-top: 20px;
}
