/* Header */
.nav-bar {
    background-color: #f4f4f4;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
}
.nav-bar a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-bar a:hover {
    background-color: #111111;
}
/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}
